<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <div class="row">
     <div clsss="col-md-2 admin-dashboard">
         <%- include('tables') %>
     </div>
     <div class="col-md-10">
        <h3> EXPENSES </h3><br>
        <input
        type="text"
        id="myInput"
        onkeyup="myFunction()"
        placeholder="Search category "
        title="Type category"
        />
        
        <a class="btn btn-secondary" href="/addExpenses"><i class="fa fa-plus"></i> Add </a>
        
        <table class="table table-striped" id="expensesTable">
            <thead>
                <tr>
                    <th>Sl No</th>
                    <th>Category</th>
                    <th>Total Expenses</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < expenses.length; i++){  %>
                 <% var arrSum = 0; %>
                 <% for(var j = 0; j < expenses[i].expenses.length; j++){ %>
                   <% var arrSum = arrSum + expenses[i].expenses[j]; %>
                 <% } %>
     
     
                 <tr>
                     <td><%= i+1 %></td>
                     <td><%= expenses[i].category%></td>
                     <td><%= arrSum %></td>
                     <td><a class="btn btn-success" href="/updateExpenses/<%=expenses[i]._id %>"><i class="fa fa-plus" aria-hidden="true" title="add stall"></i>  Add Expenses</a> &nbsp;&nbsp;
                     <a class="btn btn-danger" href="/deleteExpenses/<%=expenses[i].id %>" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash" aria-hidden="true" title="delete"></i> Delete</a> &nbsp;&nbsp;
                    </td>
                 </tr>
             <% } %>
             </tbody>
        </table>
        
     </div>
 </div>
 
<style>
    #myInput
      {
      width: 400px;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
      margin: 5px;
    }

    #expensesTable{
        margin: 5px;
    }

    thead{
        background-color: #B0C4DE;
    }
</style>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("expensesTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
</script>