<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> 
 <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
 <div class="row">
     <div class="col-md-2 admin-dashboard">
         <%- include('tables') %>
     </div>
     <div class="col-md-10">
        <h3> STALL DISBURSEMENT </h3><br>
        <table class="table table-striped" id="expensesTable">
            <thead>
                <tr>
                    <th>Sl No</th>
                    <th>PARTY NAME</th>
                    <th>STALL TYPE</th>
                    <th>RATE</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < stall.length; i++){  %>     
     
                 <tr>
                     <td><%= i+1 %></td>
                     <td><%= stall[i].nameParty%></td>
                     <td><%= stall[i].stallType%></td>
                     <td><%= stall[i].rate %></td>
                     <td>
                        <a class="btn btn-danger" href="/deleteStall/<%=stall[i].id %>"onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash" aria-hidden="true" title="delete"></i> Delete</a> &nbsp;&nbsp;        

                     </td>
                 </tr>
             <% } %>
             </tbody>
        </table>
        
     </div>
 </div>
 
<style>
    #expensesTable{
        margin: 5px;
    }

    thead{
        background-color: #B0C4DE;
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script>
  $(document).ready(function() {
    $('#expensesTable').DataTable( {
        dom: 'Bfrtip',
        buttons: [
             'excel', 'pdf', 'print'
        ]
    } );
} );
</script>