<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BaisakhiMela</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  </head>
<body>
        <div class = "container">
            <div class="wrapper">
                <form action="/updateStall/<%=stall[0].id %>" method="POST" >
                  <h3 class="form-signin-heading">Update Stall</h3>
                   <hr class="colorgraph"><br>
                      <input type="text" class="form-control" name="name" placeholder="Vendor Name" required="" autofocus="" value = "<%=stall[0].name%>"style="display: none;"/>
                      <label><b>Stall Name:</b></label>
                      <input type="text" class="form-control" name="stallName" placeholder="Stall Name" required="" autofocus="" value = "<%=stall[0].stallName%>"/>
                      <label><b>Stall Type:</b></label>
                      <input type="text" class="form-control" name="stallType" placeholder="Stall Type" required="" autofocus="" value = "<%=stall[0].stallType%>"/>
                      <label><b>Total Rent:</b></label>
                      <input type="number" class="form-control" name="total" placeholder="Enter total rent" required="" autofocus="" value = "<%=stall[0].total%>"/>
                      <button class="btn btn-lg btn-primary btn-block" type="Submit">Update</button>
                </form>
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
      </body>
</html>

<style>
  .wrapper {
    padding: 12px 20px;
    margin: 20px;
    border: 3px solid #f1f1f1;


  }
  input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  }
</style>